[submodule "AI-Based-Accident-Avoidance-System-AI-BAAS-Codes"]
	path = AI-Based-Accident-Avoidance-System-AI-BAAS-Codes
	url = https://github.com/aruncs31s/AI-Based-Accident-Avoidance-System-AI-BAAS-Codes
